body{
	background-color: #232323;
	margin: 0;
	font-weight: 100;
	font-family: "Avenir";
	  text-transform: uppercase;
	  font-size: 10px;
}

/*hello*/
.box{

	float: left;
	padding-top:30%;
	width: 30%;
	margin: 1.66%;
	background: red;


}
h1{
	color:white;
	text-align: center;
	background-color: steelblue;
	margin:0;
	font-weight: 100;
	font-family: "Avenir";
	line-height: 1.1;
	padding: 20px 0;
}


#container{
	margin:20px auto;
max-width: 600px;





}
.box{
	border-radius: 15%;
	transition: 0.6s ease;
}

#stripe{
background: white;
height: 30px;
text-align: center;
color: black;

}
.mode{
	color: white;
	background: steelblue;

}
.easyMode{
	background-color: green;
	border:1px solid white;
}
#rgb{
font-size: 200%
}
button{
	border: none;
	color: steelblue;
	background: none;
	height: 100%;
	font-size: 20px;
	font-weight: 600;
	outline: none;
}
#message{

	display: inline-block;
	width: 20%;
	font-size: medium;
}
button:hover{
	color: white;
	background: steelblue;
	transition: 0.6s ease;
}